@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=latin-ext');

html,
body {
  font-size: 10px;
  font-family: $primary-font;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @media (max-width: $break-large) {
    font-size: 9px;

  }

  @media (max-width: $break-medium) {
    font-size: 7px;

  }
}
