// colors
$white: #FFFFFF;
$mint: #48C2A4;
$red: #FF4136;
$purple: #B57BA6;
$blue: #5C5D8D;
$grey-100: #E2E1E0;
$grey-300: #CDCDCD;
$grey-900: #666666;

// border
$primary-border: 1px solid #000;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$rounded-corners: 50%;

$primary-spacing: 0.5px;
